* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: 'DIN';
  font-style: bold;
  font-size: 24px;
  line-height: 29px;
  color: #DC0059;
}

.categories_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20%;
}

.categories_wrapper .category {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  width: 150px;
  background: #FFFFFF;
  border: 10px solid #D5D6D2;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.categories_wrapper .category h1 {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.categories_wrapper .category i {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  color: #DC0059;
}

.search_wrapper {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_wrapper input {
  padding: 12px;
  width: 30%;
  background-image: url(searchicon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  text-indent: 35px;
}

.detail_wrapper {
  background: #FFFFFF;
  border: 15px solid #D5D6D2;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 15%;
  padding: 25px;
}

.detail_wrapper i {
  color: #DC0059;
}

.detail_wrapper .detail_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_wrapper .detail_header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_wrapper .detail_header .header_left i {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */