* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: 'DIN';
  font-style: bold;
  font-size: 24px;
  line-height: 29px;
  color: #DC0059;
}

h2 {
  font-family: 'DIN';
  font-style: bold;
  font-size: 20px;
  line-height: 29px;
  color: #DC0059;
}

h3 {
  font-family: 'Calibri';
  font-size: 34px;
}

p {
  font-family: 'DIN';
  font-style: regular;
  font-size: 20px;
  line-height: 29px;
}

.categories_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories_wrapper .category {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  width: 150px;
  background: #FFFFFF;
  border: 10px solid #D5D6D2;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 1rem;
}

.categories_wrapper .category h1 {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.categories_wrapper .category i {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  color: #DC0059;
}

@media only screen and (max-width: 600px) {
  .categories_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.detail_wrapper {
  background: #FFFFFF;
  border: 15px solid #D5D6D2;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 15%;
  padding: 35px;
}

.detail_wrapper i {
  color: #DC0059;
}

.detail_wrapper .detail_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}

.detail_wrapper .detail_header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_wrapper .detail_header .header_left i {
  margin-right: 10px;
}

.detail_wrapper .detail_main .article_container {
  margin: 10px 0px;
  padding: 7.5px;
  list-style-type: none;
  background-color: #D5D6D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail_wrapper .detail_main .article_container .container_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_wrapper .detail_main .article_container .container_left i {
  padding: 0px 15px;
}

@media only screen and (max-width: 600px) {
  .detail_wrapper {
    margin: 0 5%;
  }
  .detail_wrapper .article_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail_wrapper .article_container h2 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.modal_background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_background .modal_container {
  z-index: 999;
  width: 75%;
  height: 75%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_background .modal_container i {
  text-align: end;
  padding: 20px;
  color: #DC0059;
}

.modal_background .modal_container .modal_content {
  padding: 0 10%;
}

.modal_background .modal_container .modal_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal_background .modal_container .modal_content .body {
  padding: 10% 0%;
}

#root.active {
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .modal_background .modal_container {
    height: 90%;
    width: 90%;
  }
  .modal_background .modal_content .body {
    overflow-y: scroll;
  }
}

.search_wrapper .search {
  background-image: url(bg-image.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.search_wrapper .search input {
  padding: 12px;
  width: 30%;
}

.search_wrapper .searchInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_wrapper .search input {
  border: 0;
  outline: 0;
  background-color: white;
  outline: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  width: 300px;
}

.search_wrapper .search input input:focus {
  outline: none !important;
}

.search_wrapper .dataResult {
  padding: 15px;
  width: 340px;
  height: 200px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.search_wrapper .dataResult::-webkit-scrollbar {
  display: none;
}

.search_wrapper .dataResult .dataItem {
  width: 100%;
  height: 50px;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.search_wrapper .dataItem p {
  margin-left: 10px;
}

.search_wrapper a {
  text-decoration: none;
}

.search_wrapper a:hover {
  background-color: lightgrey;
}

.search_wrapper #clearBtn {
  cursor: pointer;
}

.search_wrapper .searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search_wrapper input:focus {
  outline: none;
}

.search_wrapper .searchIcon svg {
  font-size: 35px;
}

nav {
  position: fixed;
  top: 15px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 5px 0px;
  width: 200px;
  padding: 15px;
  border: #D5D6D2 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'DIN';
  font-size: 20px;
  max-height: 57px;
  background-color: white;
}

nav a img {
  height: 30px;
}

nav .active {
  border-right: #DC0059  solid 3.5px;
}

.article_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.article_wrapper .article_util {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article_wrapper .article_util input {
  outline: none;
  border: none;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 15px;
  width: 400px;
}

.article_wrapper .article_util button {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.article_wrapper table {
  font-family: 'DIN';
  width: 95%;
  border-collapse: collapse;
}

.article_wrapper table th {
  text-align: left;
  font-size: 24px;
  height: 70px;
}

.article_wrapper table td {
  height: 60px;
  font-size: 20px;
}

.article_wrapper table table, .article_wrapper table th, .article_wrapper table td {
  border-bottom: 1px solid;
}

.article_wrapper table .td_icons {
  text-align: end;
}

.article_wrapper table .td_icons .fa-pen-to-square {
  color: #00003e;
  margin-right: 10px;
}

.article_wrapper table .td_icons .fa-trash-can {
  color: #a30000;
}
/*# sourceMappingURL=style.css.map */