
// Globals
*{
    margin: 0;
    padding:0;
    text-decoration: none;
}
h1{
    font-family: 'DIN';
    font-style: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DC0059;
}
h2{
    font-family: 'DIN';
    font-style: bold;
    font-size: 20px;
    line-height: 29px;
    color: #DC0059;
}
h3{
    font-family: 'Calibri';
    font-size: 34px;    
}
h4{
    font-family: 'Calibri';
    font-size: 24px;
}
p{
    font-family: 'DIN';
    font-style: regular;
    font-size: 20px;
    line-height: 29px;
}


// Categories
.categories_wrapper{
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    justify-content: space-between;
    flex-wrap: wrap;
    .category{
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 150px;
        background: #FFFFFF;
        border: 10px solid #D5D6D2;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin: 1rem;
        h1{
            position: relative;
            top: 45%;
            transform: translateY(-100%);
            align-self: center;
        }
        i{
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            position: relative;
            top: 50%;
            left: 50%;
            color: #DC0059;
        }

    }
        
}
// Categories Mobile
@media only screen and (max-width: 600px) {
    .categories_wrapper{
        justify-content: center;
    }
}

// .CategoryDetail 
.detail_wrapper{
    background: #FFFFFF;
    border: 15px solid #D5D6D2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 15%;
    padding: 35px;
    i{ color:#DC0059}
    .detail_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;
        .header_left{
            display: flex;
            flex-direction: row;
            align-items: center;
            i{
                margin-right: 10px;
            }
        }
    }
    .detail_main {

        .article_container{
            margin: 10px 0px;
            padding: 7.5px;
            list-style-type: none;
            background-color: #D5D6D2;
            display: flex;
            justify-content: space-between;
            .container_left{
                display: flex;
                flex-direction: row;
                align-items: center;
                i{
                    padding: 0px 15px;
                }
            }
        }
    }
     
}

// Category detail Mobile
@media only screen and (max-width: 600px) {
    .detail_wrapper{
        margin: 0 5%;
        .article_container{
            flex-direction: column; 
            h2{
                align-self: flex-end;
            }
        }
    }
}
//Modal for articles
.modal_background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_container{
        z-index: 999;
        width: 75%;
        height: 75%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        i{
            text-align: end;
            padding: 20px;
            color: #DC0059;
        }
        .modal_content{
            padding: 0 10%;
            .title {
                display: flex;
                justify-content: space-between;
                }
            .body{
                padding: 10% 0%;
            }
        }
          
    }

}
// Root active styling
#root.active{
        height: 100vh;
        overflow: hidden;
}

// Mobile Modal for articles
@media only screen and (max-width: 600px) {
    .modal_background{
      .modal_container{
          height: 90%;
          width: 90%;
      }
      .modal_content{
          .body{
              overflow-y: scroll;
          }
      }
    }
}

// Search
.search_wrapper{
    .search{
        background-image: url(bg-image.jpg);
        background-position: center;
        background-size:cover;
        height: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        input{
            padding: 12px;
            width: 30%;
            
        }
    }
.searchInputs {
    display: flex;
  }
  
  .search input {
    border:0;outline:0;
    input:focus {outline:none!important;}
    background-color: white;
    outline: none;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    width: 300px;
   }
  .dataResult {
    padding: 15px;
    width: 340px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
 
}

// Admin Navigation
nav{
    position: fixed;
    top: 15px;
    z-index: 99;
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: black;
        margin: 5px 0px;
        width: 200px;
        padding: 15px;
        border: #D5D6D2 1px solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: 'DIN';
        font-size: 20px;
        max-height: 57px;
        background-color: white;
        img{
            height: 30px;
        }
    }
    .active{
        border-right: #DC0059  solid 3.5px;
    }

}

// Admin article view
.article_wrapper{
    display: flex;
    margin-left: 250px;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    .article_util{
        align-self: flex-start;
        input{
            outline: none;
            border: none;
            padding: 15px;
            border:  1px solid gray;
            border-radius: 5px;
            margin-right: 15px;
            width: 400px;
        }
            a{
                background-color: white;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid gray;
            color: black;
            text-decoration: none;}
        display: flex;
        flex-direction: row;;
    }
    table{
        font-family: 'DIN';
        width: 95%;
        border-collapse: collapse;
        th{
        text-align: left;
        font-size: 24px;
        height: 70px;
        }
        td{
            height: 60px;
            font-size: 20px;
        }
        table, th, td {
        border-bottom: 1px solid;
        }
        .td_icons {
            text-align: end;
            .fa-pen-to-square{
                color:rgb(0, 0, 62);
                margin-right: 10px;
            }
            .fa-trash-can{
                color: rgb(163, 0, 0);
            }

        }
    }
}

.createArticle_wrapper{
    display: flex;
    margin-left: 250px;
    flex-direction: column;
    margin-top: 15px; 
    input{
        outline: none;
        border: none;
        padding: 7.5px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-right: 15px;
        width: 200px;
    }
    .resume_input{
        width: 300px;
    }
    textarea{
        outline: none;
        border: none;
        padding: 7.5px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-right: 15px;
        height: 100px;
        width: 300px;
    }
   
    h3{align-self: center;}
    .action-buttons{
        align-self: flex-start;
        margin: 10px 0px;
        a{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
        font-family: 'DIN';
        margin: 15px 0px;
        margin-right: 10px;  
        }
    }
}